.app {
    background-image: url("../../assets/img/fundo.png");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selfie {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.nome {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.redes-sociais {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}

.redes-sociais a {
    transition: all 0.2s ease-in-out;
}

.redes-sociais a:hover {
    transform: scale(1.1);
}

.icone {
    width: 1.2rem;
}