.container-footer {
    background-color: #060606;
    /* background-image: url('../../assets/img/fundo.jpg'); */
    width: 100%;
    height: auto;
}

.form {
    padding: 0.8rem 2.4rem;
    width: 50%;
    max-width: 50%;
    border-radius: 0.3125rem;
    height: 80%;
}

.title {
    color: #fff;
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field span {
    color: #fff;
    font-size: 1rem;
}

.input {
    width: 95%;
    margin-top: 0.8rem 0;
    border: 1px solid #DDD;
    border-radius: 4px;
    font-size: 1rem;
    padding-left: 0.25rem;
}

.button {
    width: 96%;
    height: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.125rem;
    border: 0;
    cursor: pointer;
    background-color: #0fdbff;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.01);
}