.container-portfolio {
    background-image: url("../../assets/img/fundo.png");
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.title {
    margin-bottom: 1.5rem;
}

.projects {
    width: 30%;
    height: 8rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
}