.container-portfolio {
    background-image: url("../../assets/img/fundo.png");
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
}

.title {
    margin-bottom: 1.5rem;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projects {
    width: 30%;
    height: 7rem;
    margin: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.title-project {
    margin-top: 0.5rem;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.data a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.data a:hover {
    transform: scale(1.02);
}

.date {
    font-size: 0.75rem;
}

@media only screen and (max-width: 768px) {
    /* CSS rules for screens smaller than 768px */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS rules for screens between 768px and 1024px */
}

@media only screen and (min-width: 1024px) {
    /* CSS rules for screens larger than 1024px */
}